html,body{
	/*背景色设置*/
		background-color: #3F4A5E;
		width: 100%;
		height: 100%;
	}
*{
	margin: 0;
	padding: 0;
}
/*头部最外层盒子 banner部分*/
.head_big{
	width: 100%;
	height: 7%;
	margin: 0 auto;
	/*颜色渐变*/
	/*background-image: -moz-linear-gradient(top, #8fa1ff, #3757fa); /* Firefox */
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8fa1ff), color-stop(1, #3757fa)); /* Saf4+, Chrome */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8fa1ff', endColorstr='#3757fa)', GradientType='0'); /* IE*/
	background:url(../img/header.png) no-repeat;
	background-size: 100% 100%;
}
.head{
	width: 100%;
	height: 100%;
}
.head_left{
	color: #fff;
	font-size: 0.4rem;
	padding-left: 0.3rem;
}
.head_right{
	color: #fff;
	padding-right: 0.3rem;
	margin-top: 0.12rem;
   text-align: right;
}
.head_right span{
	width: 4%;
	font-size: 0.24rem;
}	